In [2]:
pairs = ['AUD_CAD', 'AUD_JPY', 'AUD_NZD', 'AUD_USD', 'CAD_JPY', 'DAX', 
'EUR_AUD', 'EUR_CAD', 'EUR_CHF', 'EUR_GBP', 'EUR_JPY', 'EUR_USD', 'GBP_AUD', 
'GBP_CAD', 'GBP_CHF', 'GBP_JPY', 'GBP_USD', 'NZD_USD', 'USD_CAD', 'USD_CHF', 
'USD_JPY', 'XAU_USD']

pair_pairs = []
for i in pairs:
    if '_' in i:
        new_i = i.replace('_', '/')
    else:
        new_i = i
    pair_pairs.append([new_i, i])

In [4]:
print(len(pair_pairs), pair_pairs)

22 [['AUD/CAD', 'AUD_CAD'], ['AUD/JPY', 'AUD_JPY'], ['AUD/NZD', 'AUD_NZD'], ['AUD/USD', 'AUD_USD'], ['CAD/JPY', 'CAD_JPY'], ['DAX', 'DAX'], ['EUR/AUD', 'EUR_AUD'], ['EUR/CAD', 'EUR_CAD'], ['EUR/CHF', 'EUR_CHF'], ['EUR/GBP', 'EUR_GBP'], ['EUR/JPY', 'EUR_JPY'], ['EUR/USD', 'EUR_USD'], ['GBP/AUD', 'GBP_AUD'], ['GBP/CAD', 'GBP_CAD'], ['GBP/CHF', 'GBP_CHF'], ['GBP/JPY', 'GBP_JPY'], ['GBP/USD', 'GBP_USD'], ['NZD/USD', 'NZD_USD'], ['USD/CAD', 'USD_CAD'], ['USD/CHF', 'USD_CHF'], ['USD/JPY', 'USD_JPY'], ['XAU/USD', 'XAU_USD']]

In [7]:
data_dict = {}
for i in pair_pairs:
    data_dict[i[0]] = i[1]

print(len(data_dict), data_dict)

22 {'AUD/CAD': 'AUD_CAD', 'AUD/JPY': 'AUD_JPY', 'AUD/NZD': 'AUD_NZD', 'AUD/USD': 'AUD_USD', 'CAD/JPY': 'CAD_JPY', 'DAX': 'DAX', 'EUR/AUD': 'EUR_AUD', 'EUR/CAD': 'EUR_CAD', 'EUR/CHF': 'EUR_CHF', 'EUR/GBP': 'EUR_GBP', 'EUR/JPY': 'EUR_JPY', 'EUR/USD': 'EUR_USD', 'GBP/AUD': 'GBP_AUD', 'GBP/CAD': 'GBP_CAD', 'GBP/CHF': 'GBP_CHF', 'GBP/JPY': 'GBP_JPY', 'GBP/USD': 'GBP_USD', 'NZD/USD': 'NZD_USD', 'USD/CAD': 'USD_CAD', 'USD/CHF': 'USD_CHF', 'USD/JPY': 'USD_JPY', 'XAU/USD': 'XAU_USD'}

In [8]:
import pandas as pd
result = pairs[int(input('Please select the currency code: '))]
df_custom = pd.read_csv(f'realTime_{result}.csv')
df_custom[5300::50]

Please select the currency code: 0

       0  2021-03-21 21:32:26  1616337146.768723  43.6
5300   0  2021-03-22 05:01:38       1.616364e+09  52.8
5350   0  2021-03-22 05:04:46       1.616364e+09  52.8
5400   0  2021-03-22 05:08:42       1.616365e+09  54.2
5450   0  2021-03-22 05:12:11       1.616365e+09  54.0
5500   0  2021-03-22 05:16:05       1.616365e+09  54.9
...   ..                  ...                ...   ...
18750  0  2021-03-22 23:08:03       1.616429e+09  34.4
18800  0  2021-03-22 23:11:31       1.616429e+09  34.5
18850  0  2021-03-22 23:14:26       1.616430e+09  34.9
18900  0  2021-03-22 23:17:20       1.616430e+09  35.6
18950  0  2021-03-22 23:20:06       1.616430e+09  35.4

[274 rows x 4 columns]